<!DOCTYPE html>
<html>
<head>
	<title>Pestaña</title>
</head>
<body>
	<h1>Equipo Docente</h1>
	<h2>Profesor de Cátedra<h2>
		<h4>&loz; Ángel Jiménez Molina<h4>
		<h4>&loz; Iván Díaz Campos<h4>
	<h2>Profesor Auxiliar<h2>
		<h4>&loz; Javiera Ovalle <h4>
		<h4>&loz; Jorge Pinto<h4>
		<h4>&loz; José Canto<h4>
		<h4>&loz; Macarena Osorio<h4>
	<h2>Ayudante<h2>
		<h4>&loz; Carlos Vega<h4>
		<h4>&loz; Catalina Martin<h4>
		<h4>&loz; Eduardo Valerio<h4>
		<h4>&loz; Juan Gutiérrez<h4>
		<h4>&loz; Matías Rojas<h4>
		<h4>&loz; Nicolás Contardo<h4>
		<h4>&loz; Sebastián Donoso<h4>
		<h4>&loz; Sofía Herrera<h4>
		<h4>&loz; Victoria Arce<h4>

	<a href="{% url 'index' %}">Volver a la página principal</a>
	<br>
	<a href="{% url 'pestaña2' %}">Surprise!</a>
</body>
</html>